body
{
   background-color: #202020;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_SlideShow1
{
   min-height: 20px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #E3E3E3;
   border-radius: 0px;
   box-sizing: border-box;
   width: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#SlideShow1
{
   padding: 30px 40px 30px 40px;
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#SlideShow1 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   position: relative;
}
#SlideShow1 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   transition: 0.6s ease-in-out left;
}
#SlideShow1 .carousel-inner > .carousel-item > img, #SlideShow1 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#SlideShow1 .carousel-inner > .active, #SlideShow1 .carousel-inner > .carousel-item-next, #SlideShow1 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#SlideShow1 .carousel-inner > .active
{
   left: 0;
}
#SlideShow1 .carousel-inner > .carousel-item-next, #SlideShow1 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#SlideShow1 .carousel-inner > .carousel-item-next
{
   left: 100%;
}
#SlideShow1 .carousel-inner > .carousel-item-prev
{
   left: -100%;
}
#SlideShow1 .carousel-inner > .carousel-item-next.carousel-item-start, #SlideShow1 .carousel-inner > .carousel-item-prev.carousel-item-end
{
   left: 0;
}
#SlideShow1 .carousel-inner > .active.carousel-item-start
{
   left: -100%;
}
#SlideShow1 .carousel-inner > .active.carousel-item-end
{
   left: 100%;
}
#SlideShow1 .thumbnails
{
   margin: 0;
   padding: 0;
   width: 100%;
}
#SlideShow1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   text-align: center;
   vertical-align: top;
   padding-right: 2px;
   width: 20%;
}
#SlideShow1 .thumbnail img
{
   max-width: 100%;
   width: 100%;
   height: auto;
   vertical-align: middle;
   box-sizing: border-box;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#wb_SlideShow1 .carousel-control-next, #wb_SlideShow1 .carousel-control-prev
{
   cursor: pointer;
   position: absolute;
   text-align: center;
   top: 0;
   left: 0;
   opacity: 0.5;
   transition: opacity 0.3s ease;
}
#wb_SlideShow1 .carousel-control-next-icon, #wb_SlideShow1 .carousel-control-prev-icon
{
   display: inline-block;
   width: 40px;
   height: 40px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#wb_SlideShow1 .carousel-control-next:hover, #wb_SlideShow1 .carousel-control-prev:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
#wb_SlideShow1 .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%20160%20160%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M42%2073%20C41%2075%2c%2040%2078%2c%2040%2080%20L40%2080%20L40%2080%20C40%2083%2c%2041%2086%2c%2042%2088%20L102%20148%20L102%20148%20C105%20150%2c%20107%20150%2c%20110%20150%20C112%20150%2c%20115%20150%2c%20117%20148%20C119%20146%2c%20120%20143%2c%20120%20140%20C120%20138%2c%20119%20135%2c%20117%20133%20L64%2080%20L64%2080%20L117%2028%20L117%2028%20C119%2026%2c%20120%2023%2c%20120%2020%20C120%2018%2c%20119%2015%2c%20117%2013%20C115%2011%2c%20112%2010%2c%20110%2010%20C107%2010%2c%20105%2011%2c%20102%2013%20L42%2073Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#wb_SlideShow1 .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%20160%20160%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M117%2073%20C119%2075%2c%20120%2078%2c%20120%2080%20L120%2080%20L120%2080%20C120%2083%2c%20119%2086%2c%20117%2088%20L57%20148%20L57%20148%20C55%20150%2c%2052%20150%2c%2050%20150%20C47%20150%2c%2045%20150%2c%2042%20148%20C41%20146%2c%2040%20143%2c%2040%20140%20C40%20138%2c%2041%20135%2c%2042%20133%20L96%2080%20L96%2080%20L42%2028%20L42%2028%20C41%2026%2c%2040%2023%2c%2040%2020%20C40%2018%2c%2041%2015%2c%2042%2013%20C45%2011%2c%2047%2010%2c%2050%2010%20C52%2010%2c%2055%2011%2c%2057%2013%20L117%2073Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Button1
{
   box-sizing: border-box;
   line-height: 46px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#FileUpload1 *
{
   box-sizing: border-box;
}
#FileUpload1
{
   display: table;
   border-collapse: separate;
   margin: 0;
}
#FileUpload1 .form-control
{
   display: block;
   width: 100%;
   height: 53px;
   line-height: 45px;
   padding: 4px 4px 4px 4px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   color: #212529;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 4px;
}
#FileUpload1 .form-control
{
   position: relative;
   z-index: 2;
   float: left;
   width: 100%;
   margin-bottom: 0;
}
#FileUpload1 label
{
   display: inline-block;
   margin-bottom: 5px;
   font-weight: 700;
}
#FileUpload1 .input-group-btn, #FileUpload1 .form-control
{
   display: table-cell;
}
#FileUpload1 :first-child.form-control, #FileUpload1 :first-child.input-group-btn > .btn, #FileUpload1 :first-child.input-group-btn > .btn-group > .btn, #FileUpload1 :last-child.input-group-btn > :not(:last-child):not(.dropdown-toggle).btn, #FileUpload1 :last-child.input-group-btn > :not(:last-child).btn-group > .btn
{
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
}
#FileUpload1 .input-group-btn
{
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
   position: relative;
   font-size: 0;
   white-space: nowrap;
}
#FileUpload1 .btn
{
   display: inline-block;
   margin-bottom: 0;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   color: #FFFFFF;
   white-space: nowrap;
   padding: 4px 8px 4px 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 45px;
   border-radius: 4px;
   height: 53px;
}
#FileUpload1 .input-group-btn > .btn
{
   position: relative;
}
#FileUpload1-file:disabled ~ .btn
{
   background-color: #e9ecef;
   border-color: #DEE2E6;
   pointer-events: none;
   color: #DEE2E6;
}
#FileUpload1 :last-child.form-control, #FileUpload1 :last-child.input-group-btn > .btn, #FileUpload1 :last-child.input-group-btn > .btn-group > .btn, #FileUpload1 :first-child.input-group-btn > :not(:first-child).btn, #FileUpload1 :first-child.input-group-btn > :not(:first-child).btn-group > .btn
{
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}
#FileUpload1 :last-child.input-group-btn > .btn, #FileUpload1 :last-child.input-group-btn > .btn-group
{
   margin-left: -1px;
}
#wb_Form1
{
   background-color: #F8F9FA;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
}
#Label1
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label1:focus
{
   outline: 0;
}
#FileUpload2 *
{
   box-sizing: border-box;
}
#FileUpload2
{
   display: table;
   border-collapse: separate;
   margin: 0;
}
#FileUpload2 .form-control
{
   display: block;
   width: 100%;
   height: 28px;
   line-height: 20px;
   padding: 4px 4px 4px 4px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   color: #555555;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
}
#FileUpload2 .form-control
{
   position: relative;
   z-index: 2;
   float: left;
   width: 100%;
   margin-bottom: 0;
}
#FileUpload2 label
{
   display: inline-block;
   margin-bottom: 5px;
   font-weight: 700;
}
#FileUpload2 .input-group-btn, #FileUpload2 .form-control
{
   display: table-cell;
}
#FileUpload2 :first-child.form-control, #FileUpload2 :first-child.input-group-btn > .btn, #FileUpload2 :first-child.input-group-btn > .btn-group > .btn, #FileUpload2 :last-child.input-group-btn > :not(:last-child):not(.dropdown-toggle).btn, #FileUpload2 :last-child.input-group-btn > :not(:last-child).btn-group > .btn
{
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
}
#FileUpload2 .input-group-btn
{
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
   position: relative;
   font-size: 0;
   white-space: nowrap;
}
#FileUpload2 .btn
{
   display: inline-block;
   margin-bottom: 0;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background-color: #428BCA;
   background-image: none;
   border: 1px solid #357EBD;
   color: #FFFFFF;
   white-space: nowrap;
   padding: 4px 8px 4px 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 20px;
   border-radius: 4px;
   height: 28px;
}
#FileUpload2 .input-group-btn > .btn
{
   position: relative;
}
#FileUpload2-file:disabled ~ .btn
{
   background-color: #e9ecef;
   border-color: #CCCCCC;
   pointer-events: none;
   color: #CCCCCC;
}
#FileUpload2 :last-child.form-control, #FileUpload2 :last-child.input-group-btn > .btn, #FileUpload2 :last-child.input-group-btn > .btn-group > .btn, #FileUpload2 :first-child.input-group-btn > :not(:first-child).btn, #FileUpload2 :first-child.input-group-btn > :not(:first-child).btn-group > .btn
{
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}
#FileUpload2 :last-child.input-group-btn > .btn, #FileUpload2 :last-child.input-group-btn > .btn-group
{
   margin-left: -1px;
}
#Label2
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label2:focus
{
   outline: 0;
}
#FileUpload3 *
{
   box-sizing: border-box;
}
#FileUpload3
{
   display: table;
   border-collapse: separate;
   margin: 0;
}
#FileUpload3 .form-control
{
   display: block;
   width: 100%;
   height: 28px;
   line-height: 20px;
   padding: 4px 4px 4px 4px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   color: #555555;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
}
#FileUpload3 .form-control
{
   position: relative;
   z-index: 2;
   float: left;
   width: 100%;
   margin-bottom: 0;
}
#FileUpload3 label
{
   display: inline-block;
   margin-bottom: 5px;
   font-weight: 700;
}
#FileUpload3 .input-group-btn, #FileUpload3 .form-control
{
   display: table-cell;
}
#FileUpload3 :first-child.form-control, #FileUpload3 :first-child.input-group-btn > .btn, #FileUpload3 :first-child.input-group-btn > .btn-group > .btn, #FileUpload3 :last-child.input-group-btn > :not(:last-child):not(.dropdown-toggle).btn, #FileUpload3 :last-child.input-group-btn > :not(:last-child).btn-group > .btn
{
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
}
#FileUpload3 .input-group-btn
{
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
   position: relative;
   font-size: 0;
   white-space: nowrap;
}
#FileUpload3 .btn
{
   display: inline-block;
   margin-bottom: 0;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background-color: #428BCA;
   background-image: none;
   border: 1px solid #357EBD;
   color: #FFFFFF;
   white-space: nowrap;
   padding: 4px 8px 4px 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 20px;
   border-radius: 4px;
   height: 28px;
}
#FileUpload3 .input-group-btn > .btn
{
   position: relative;
}
#FileUpload3-file:disabled ~ .btn
{
   background-color: #e9ecef;
   border-color: #CCCCCC;
   pointer-events: none;
   color: #CCCCCC;
}
#FileUpload3 :last-child.form-control, #FileUpload3 :last-child.input-group-btn > .btn, #FileUpload3 :last-child.input-group-btn > .btn-group > .btn, #FileUpload3 :first-child.input-group-btn > :not(:first-child).btn, #FileUpload3 :first-child.input-group-btn > :not(:first-child).btn-group > .btn
{
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}
#FileUpload3 :last-child.input-group-btn > .btn, #FileUpload3 :last-child.input-group-btn > .btn-group
{
   margin-left: -1px;
}
#Button2
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:focus
{
   outline: 0;
}
.darktheme body
{
   background-color: #DFDFDF;
}
